@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.section-contact {
  background-image: url("../../public/images/home/bg-section-contact.png");
  background-size: cover;
}
.btn-view {
  box-shadow: 0px 1px 1px 0px rgba(166, 175, 195, 0.3);
}
.time-up {
  border-radius: 32px;
  border: 2px solid var(--glass, rgba(236, 236, 236, 0.7));
  background: var(
    --glass,
    linear-gradient(
      124deg,
      rgba(236, 236, 236, 0.7) -0.1%,
      rgba(224, 224, 224, 0.7) 99.9%
    )
  );
}
.box-tin-tuc-noi-bat {
  border-right: 1px solid var(--Stroke, #dfe4ea);
  border-bottom: 1px solid var(--Stroke, #dfe4ea);
  border-left: 1px solid var(--Stroke, #dfe4ea);
  background: #fbfcff;
  border-top: 3px solid var(--Primary, #3f51b5);
}

.blog-content {
  /* padding: 40px 120px; */
  h2 {
    margin-bottom: 64px;
    color: var(--Dark-Dark-2, #1f2a37);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 50% */
  }
  h3 {
    margin: 12px 0;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 51.2px */
  }
  p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
  }
  li {
    margin-left: 16px;
    list-style-type: disc;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
